<footer class="mt-5 mt-auto w-100">
    <div class="container-footer bg-light w-100 d-flex justify-content-between align-items-center p-2">
        <span class="ms-5">©Aresta Simone</span>
        <a href="/admin" class="text-muted">Admin</a>
    </div>
</footer>

<style>
    html, body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .container-footer {
        flex: 1;
        width: 100%;
        margin-top: 20px;
    }
</style>