{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
    {% include 'head.html' %}

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Logout</div>
                <div class="card-body">
                    <p>Sei stato disconnesso con successo.</p>
                    <a href="{% url 'pages:home_page' %}" class="btn btn-success">Torna alla home</a>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}