{% extends 'base.html' %}
{% load static %}

{% block title %}Create Recipe{% endblock %}

{% block content %}
    {% include 'head.html' %}
    <div class="container mt-4">
        <h1>Crea Ricetta</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h3>Dettagli della Ricetta</h3>
            {{ form.as_p }}

            <h3>Ingredienti</h3>
            <div id="formset-container">
                {{ ingredient_formset.management_form }}
                {% for form in ingredient_formset %}
                    <div class="formset-item">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            </div>

            <button type="button" class="btn btn-success" id="add-ingredient">+</button>
            <button type="submit" class="btn btn-primary">Salva</button>
        </form>
    </div>
    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/addIngredient.js' %}"></script>
{% endblock %}