{% extends 'base.html' %}
{% load static %}

{% block title %}Create Recipe{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/createRecipe.css' %}">
{% endblock %}

{% block content %}
    {% include 'head.html' %}
    <div class="container mt-4">
        <h1>Modifica Ricetta</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h3>Dettagli della Ricetta</h3>
            <div class="mb-3">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="mb-3">
                {{ form.category.label_tag }}
                {{ form.category }}
            </div>
            <div class="mb-3">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    {{ form.difficult.label_tag }}
                    {{ form.difficult }}
                </div>
                <div class="col-md-6">
                    {{ form.cost.label_tag }}
                    {{ form.cost }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    {{ form.time_preparation.label_tag }}
                    {{ form.time_preparation }}
                </div>
                <div class="col-md-4">
                    {{ form.cooking.label_tag }}
                    {{ form.cooking }}
                </div>
                <div class="col-md-4">
                    {{ form.servings.label_tag }}
                    {{ form.servings }}
                </div>
            </div>
            <div class="mb-3">
                {{ form.preparation.label_tag }}
                {{ form.preparation }}
            </div>

            <h3>Ingredienti</h3>
            <div id="formset-container">
                {{ ingredient_formset.management_form }}
                {% for form in ingredient_formset %}
                    <div class="formset-item">
                        {% for field in form.visible_fields %}
                            {% if "DELETE" not in field.name %}  {# Esclude il campo DELETE #}
                                <div class="mb-2">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="btn btn-danger btn-sm delete-ingredient my-2">-</button>
                    </div>


                {% endfor %}
            </div>

            <button type="button" class="btn btn-success" id="add-ingredient">+</button>
            <button type="submit" class="btn btn-primary">Salva</button>
        </form>
    </div>
    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/addIngredient.js' %}"></script>
    <script src="{% static 'js/delIngredient.js' %}"></script>
{% endblock %}

