{% extends 'base.html' %}
{% load static %}

{% block title %}Create Recipe{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/createRecipe.css' %}">
{% endblock %}

{% block content %}
    {% include 'head.html' %}
    <div class="container mt-4">
        <h1>Modifica Ricetta</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h3>Dettagli della Ricetta</h3>
            <div class="mb-3">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="mb-3">
                {{ form.category.label_tag }}
                {{ form.category }}
            </div>
            <div class="mb-3">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    {{ form.difficult.label_tag }}
                    {{ form.difficult }}
                </div>
                <div class="col-md-6">
                    {{ form.cost.label_tag }}
                    {{ form.cost }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    {{ form.time_preparation.label_tag }}
                    {{ form.time_preparation }}
                </div>
                <div class="col-md-4">
                    {{ form.cooking.label_tag }}
                    {{ form.cooking }}
                </div>
                <div class="col-md-4">
                    {{ form.servings.label_tag }}
                    {{ form.servings }}
                </div>
            </div>
            <div class="mb-3">
                {{ form.preparation.label_tag }}
                {{ form.preparation }}
            </div>

            <h3>Ingredienti</h3>
            <div id="formset-container">
                {{ ingredient_formset.management_form }}
                {% for form in ingredient_formset %}
                    <div class="formset-item">
                        {{ form.as_p }}
                        {% if not forloop.first %}
                            <button type="button" class="remove-ingredient btn btn-danger my-2">-</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <!-- Blocco nascosto per il template dell'empty_form -->
            <div id="empty-form" style="display: none;">
                <div class="formset-item">
                    {{ ingredient_formset.empty_form.as_p }}
                    <!-- Nel template dell'empty_form lasciamo il bottone; verrà nascosto se il nuovo form diventa il primo -->
                    <button type="button" class="remove-ingredient btn btn-danger my-2">-</button>
                </div>
            </div>

            <button type="button" class="btn btn-success" id="add-ingredient">+</button>
            <button type="submit" class="btn btn-primary">Salva</button>
        </form>
    </div>
    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/addIngredient.js' %}"></script>
{% endblock %}

